<!-- Filename: main.handlebars -->
    <!DOCTYPE html>
    <html>
    <head>

        <title>FusionCharts Sample</title>
    </head>
    <body>
        <div class="container">
          {{{ body }}}
        </div>
        <script type="text/javascript" src="bundle.js"></script>
    </body>
    </html>